.aprox{
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: lightgray;
    height: 95%;
    width: 55%;

}

.corpo{
    background-color: white;
    display:flex;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.social{
    background-color: white;
    display:flex;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
}

.banner-inicial{
    background-color: #E7A1B0;
    width: 82%;
    height:300px;
    display: flex;
    flex-shrink: 1;
    
}
.corpo1{
    background-color: white;
    display:flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.saibamais-banner{
    background-color: #E7A1B0;
    display: flex;
    align-self: center;
    flex-shrink: 1;
    width: 98%;
    height:90%;
}

.border{
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    border: 2px inset black;
    align-self: center;
    width:98% ;
    height:90%;
}

.contato{
    flex-shrink: 1;
    width:80% ;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: lightgray;
    width: 100%;
    height: 280px;
}

.img-footer{
    background-color: black;
    height: 80%;
    width: 100%;
}

.copy{
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 35px;
}